{% extends '_base.html' %}

{% load static %}

<title>{% block title %}Home{% endblock title %}</title>

{% block content %}
    <h1>Homepage</h1>
    <img class="bookcover" src="{% static 'images/dfp.jpg' %}">
    {% if user.is_authenticated %}
        <p>Hi {{ user.email }}</p>
        <p><a href="{% url 'account_logout' %}">Logout</a></p>
    {% else %}
        <p>You are not logged in</p>
        <p><a href="{% url 'account_login' %}">Login</a> |
            <a href="{% url 'account_signup' %}">Signup</a></p>
    {% endif %}
{% endblock content %}